.ViChangeAssetDownload {

}


.ViChangeAssetDownload-assetDownloadButtonWr {
    display: inline-block;
}

.ViChangeAssetDownload-assetDownloadButton {
    display: inline-block;
    color: black;
}

.ViChangeAssetDownload-assetDownloadButton:hover {
    color: #cccccc;
}
